.App {
  text-align: center;
}

.App-spinny {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-spinny {
    animation: App-logo-spin infinite 25s linear;
  }
}

.App-header {
  background-color: Black;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-spinny {
  display: flex;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav{
	background-color: #384a3e;
	color: Black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 0 10px;
}

.nav ul{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	gap: 20px;
}

.nav a{
	color: inherit;
	text-decoration: none;
}

nav li:hover{
	background-color: white;
}

nav li.active{
	color: red;
}

.main{
	
	height: 600px;
	background-color: #A9A9A9;
}

.App-footer{
	background-color: black;
	padding: 50px;

}